.app {
    /* margin:0 auto;
    padding: 0 auto;
    box-sizing: border-box; */
  margin:0 auto;
  padding: 0 auto;
  height: 100vh;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(./Image/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.app2 {
  /* margin:0 auto;
  padding: 0 auto;
  box-sizing: border-box; */
margin:0 auto;
padding: 0 auto;
height: 100vh;
/* background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(./Image/bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center center; */
}
* {
  font-family: 'Poppins', sans-serif;
}